NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSWORD_HASH=
PUTER_AUTH_TOKEN=
PUTER_OCR_MODELS=
PUTER_STRUCTURE_MODELS=
PUTER_VALIDATION_MODELS=
PUTER_SOLVER_MODELS=
